.main{
    display: grid;
    /* grid-template-columns: 100px auto 80px auto; */
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px auto auto;
    background-color: blue;
    gap:10px;
}
.main > div{
    background-color: beige;
    margin:10px; 
}
.b1{
    grid-column-start:2;
    grid-column-end: span 2;
}
.b2{
    grid-row-end:span 3;
}