.txt{
    height: 400px;
    width: 400px;
    font-size: 34px;
    border-width: 2px;
    border-style: double;
    border-color: black;
    /* border: 2px solid black; */
    background-color: plum; 
}
 


