.box{
    height: 50px;
    width: 50px;
    background-color: aqua;
    border: 2px solid black; 
    /* transition: all 2s linear 3s; */
    transition: width 2s, height 4s, background-color 3s;   
}
.box:hover{
    width: 100px;
    height: 80px;
    background-color: red;
    /* transform: scale(3,2); */
    /* transform: scaleY(2); */
    /* transform: rotateY(120deg); */
    /* transform: translate(100px,80px); */
    /* transform: skew(60deg); */
}
